#back{
    background-image: url('pexels-divinetechygirl-1181325.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    
}

#KONTANT{
    background-image: url('pexels-ivan-samkov-4240498.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
#mama{
    background-image: url('ChatGPT\ Image\ Jul\ 1\,\ 2025\,\ 10_12_36\ AM.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
